
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box ;
  list-style-type: none;
  text-decoration: none;
}

header {
  top: 2px;
  text-align: center;
  padding: 1rem;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  position: fixed;
  width: 100%;
  top:0;
  z-index: 100;
  background: rgb(255, 255, 250);
  font-size: 16px;
}

header h1 {
  color: rgb(58, 17, 17);
  font-size: 2.5em;
}

.tbCenter {
text-align: center;
border-right: 1px solid rgb(83, 31, 31);
}

.par, .impar {
  text-align: center;
}

.tbright {
text-align: center;
border-left: 1px solid rgb(83, 31, 31);
}

